body {
background-color: rgb(68, 183, 255);
}
.card-header {
    background-color: dodgerblue;
    text-align: center;
    font-size: 25px;
    
}

.card {

    box-shadow: 10px 10px 5px;

}

h1{
    text-align: center;
}